.calendar{
    margin: 0 auto;
    padding: 10px 0;
    width: 350px;
    background: #474747;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.time{
    font: 100 44px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
    padding: 0 10px 0 20px;
}
.date{
    margin: 0;
    color: #0B7E43;
    padding: 0 10px 20px 20px;
}

.nav{
    position: relative;
    padding: 15px 10px 15px 20px;
    border-top: 1px solid #6d6c6c;
    font-size: 15px;
}

.arrow-prev{
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform: rotate(135deg);
    right: 75px;
    top: 22px;
}

.arrow-next{
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform: rotate(-45deg);
    right: 28px;
}

.arrow-prev:hover, .arrow-next:hover{
    border-color: #0B7E43;
    cursor: pointer;
}

.day-wrap{
    display: flex;
    padding: 0 10px 0 10px;
}
.day{
    width: 40px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    margin: 4px;
}

.month{
    display: flex;
    flex-direction: column;
    padding: 0 10px 5px 10px;
}

.weekday{
    display: flex;
}

.number, .start{
    width: 40px;
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    margin: 3px;
    border: 2px solid #474747;
    border-radius: 2px;
}

.number:hover{
    border-color:#474747;
    box-shadow: 0 0 0 2px #0B7E43;
    cursor: pointer;
}

.now{
    border: 2px solid #000000;
    background: #0B7E43;
    box-shadow: 0 0 0 2px #0B7E43;
}
.other-month{
    color: #808080;
}

.wrap{
    display: flex;
    margin-bottom: 300px;
}
.item{
    position: relative;
    text-align: center;
    width: 200px;
    background: #887979;
    margin: 10px;
}
.item-title{
    margin: 0;
    padding: 10px;
    cursor: pointer;
}
.hidden{
    display: none;
}
.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    left: 0;
    background: inherit;
    width: inherit;
    padding-bottom: 10px;
}
.seen{
   color: #332749; 
}
.subitem-link{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    margin: 5px;
}
.subitem-link:hover{
    color: #d40808;
}